#form{
    display: inline-block;
    width: 47.5%;
    padding: 2%;
}
#score{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
button{
    width: 100%;
    font-size: 1.2em;
    margin: 5% 0;
}
input, label{
    font-size: 1.2em;
}